<%= content_for(:title, "Superheros | National Superhero Registry") %>

<h1>National Superhero Registry</h1>
<h2>Superheroes</h2>

<ul>
  <% @cities.each do |city| %>
   <li><%= city.name %>
      <ul>
        <% city.superheros.each do |superhero| %>
          <li><a href="/superheros/<%= superhero.id %>"><%= superhero.name %></a></li><%= superhero.superpower %>
        <% end %>
      </ul>
     </li>
  <% end %>
</ul>

<%= form_tag '/superheros', :method => 'get' do %>
  <%= label_tag :search, 'Search for a superhero by name:' %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :class => 'btn btn-primary' %>
<% end %><br>

<%= link_to "Add A New City", new_city_path, :class=> 'btn btn-default' %><br><br>
<%= link_to "Add A New Superhero", new_superhero_path, :class=> "btn btn-default" %>
